$clr-primary-1: hsl(300, 43%, 22%);
$clr-primary-2: hsl(333, 80%, 67%);

$clr-neutral-0: hsl(0, 0%, 100%);
$clr-neutral-1: hsl(303, 10%, 53%);
$clr-neutral-2: hsl(300, 24%, 96%);

$ff-default: "League Spartan", sans-serif;
$fs-default: 15px;

$fw-default: 400;
$fw-medium: 500;
$fw-bold: 700;
