@use "../abstracts/" as *;

.card {
	position: relative;
	aspect-ratio: 1/0.5;

	background-color: $clr-primary-1;
	min-width: 350px;
	padding: 2rem;

	border-radius: 10px;
	color: $clr-neutral-0;

	font-weight: $fw-bold;
	font-size: 1rem;

	display: grid;
	gap: 2rem;

	&__heading {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	&__img {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}

	&__author {
		display: block;
	}

	&__role {
		color: $clr-primary-2;
	}

	@media (min-width: 600px) {
		&__second {
			margin-top: 1rem;
		}

		&__third {
			margin-top: 2rem;
		}
	}
}
