@use "../abstracts/" as *;

.rate {
	position: relative;

	background-color: hsl(303, 10%, 53%, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	margin-bottom: 1rem;
	padding: 1.25rem;
	border-radius: 10px;

	color: $clr-primary-1;
	font-weight: $fw-bold;

	&__icons {
		display: flex;
		gap: 0.25rem;
		align-items: flex-end;
		justify-content: center;
		height: 15px;
	}

	.star-icon::before {
		content: url("../../../images/icon-star.svg");
		display: flex;

		justify-content: center;
		width: 20px;
		height: 15px;
	}

	&__text {
		line-height: 1;

		height: 15px;
		padding: 0.1rem;
		padding-left: 1rem;
	}

	@media (min-width: 600px) {
		flex-direction: row;
		align-items: center;
		max-width: 445px;

		&__second {
			margin-left: 2rem;
		}

		&__third {
			margin-left: 4rem;
		}
	}
}
